*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.primary-btn{
    border-radius: 5px;
    background: #F15B22;
    border: 0;
    color: var(--White-Color, #FFF);
    font-size: 3vh;
    font-weight: 700;
    padding: 2vh 2vw;
}

/* header */

.banner{
    background-image: url('images/banner/banner2.png');
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.banner-element{
    text-align: right;
    margin-right: 13vw;
    padding-top: 25vh;
    padding-left: 50vw;
}

.banner-heading{
    color: var(--Dark-01, #151414);
    text-align: right;
    font-size: 9vh;
    font-weight: 700;
    margin-bottom: 2vh;
}

.banner-discreption{
    color: var(--Dark-02, #444343);
    text-align: right;
    font-size: 2.5vh;
    font-weight: 400;
    line-height: 4vh;
    margin-bottom: 2vh;
}